.blog {
    .container {
        .wrappe {

            width: 100%;
            margin-top: 200px;
            height: 50%;
            background-color: #fff;




            img {
                width: 500px;
                margin-left: 30%;



            }
        }
    }
}